.ws-current {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60vh;
  border-bottom: 5px solid #09f;
}
.ws-current__meta {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}
.meta__location {
  font-size: 2.5rem;
}
.meta__temp {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  i {
    font-size: 5rem;
    margin-right: 1rem;
  }
  h1 {
    font-size: 5rem;
    margin-bottom: 0;
  }
}
